/**
 * http://w3school.com.cn/tags/html_ref_colornames.asp
 */
.frmColors_AliceBlue{color:#F0F8FF !important;}
.frmColors_AntiqueWhite{color:#FAEBD7 !important;}
.frmColors_Aqua{color:#00FFFF !important;}
.frmColors_Aquamarine{color:#7FFFD4 !important;}
.frmColors_Azure{color:#F0FFFF !important;}
.frmColors_Beige{color:#F5F5DC !important;}
.frmColors_Bisque{color:#FFE4C4 !important;}
.frmColors_Black{color:#000000 !important;}
.frmColors_BlanchedAlmond{color:#FFEBCD !important;}
.frmColors_Blue{color:#0000FF !important;}
.frmColors_BlueViolet{color:#8A2BE2 !important;}
.frmColors_Brown{color:#A52A2A !important;}
.frmColors_BurlyWood{color:#DEB887 !important;}
.frmColors_CadetBlue{color:#5F9EA0 !important;}
.frmColors_Chartreuse{color:#7FFF00 !important;}
.frmColors_Chocolate{color:#D2691E !important;}
.frmColors_Coral{color:#FF7F50 !important;}
.frmColors_CornflowerBlue{color:#6495ED !important;}
.frmColors_Cornsilk{color:#FFF8DC !important;}
.frmColors_Crimson{color:#DC143C !important;}
.frmColors_Cyan{color:#00FFFF !important;}
.frmColors_DarkBlue{color:#00008B !important;}
.frmColors_DarkCyan{color:#008B8B !important;}
.frmColors_DarkGoldenRod{color:#B8860B !important;}
.frmColors_DarkGray{color:#A9A9A9 !important;}
.frmColors_DarkGreen{color:#006400 !important;}
.frmColors_DarkKhaki{color:#BDB76B !important;}
.frmColors_DarkMagenta{color:#8B008B !important;}
.frmColors_DarkOliveGreen{color:#556B2F !important;}
.frmColors_Darkorange{color:#FF8C00 !important;}
.frmColors_DarkOrchid{color:#9932CC !important;}
.frmColors_DarkRed{color:#8B0000 !important;}
.frmColors_DarkSalmon{color:#E9967A !important;}
.frmColors_DarkSeaGreen{color:#8FBC8F !important;}
.frmColors_DarkSlateBlue{color:#483D8B !important;}
.frmColors_DarkSlateGray{color:#2F4F4F !important;}
.frmColors_DarkTurquoise{color:#00CED1 !important;}
.frmColors_DarkViolet{color:#9400D3 !important;}
.frmColors_DeepPink{color:#FF1493 !important;}
.frmColors_DeepSkyBlue{color:#00BFFF !important;}
.frmColors_DimGray{color:#696969 !important;}
.frmColors_DodgerBlue{color:#1E90FF !important;}
.frmColors_Feldspar{color:#D19275 !important;}
.frmColors_FireBrick{color:#B22222 !important;}
.frmColors_FloralWhite{color:#FFFAF0 !important;}
.frmColors_ForestGreen{color:#228B22 !important;}
.frmColors_Fuchsia{color:#FF00FF !important;}
.frmColors_Gainsboro{color:#DCDCDC !important;}
.frmColors_GhostWhite{color:#F8F8FF !important;}
.frmColors_Gold{color:#FFD700 !important;}
.frmColors_GoldenRod{color:#DAA520 !important;}
.frmColors_Gray{color:#808080 !important;}
.frmColors_Green{color:#008000 !important;}
.frmColors_GreenYellow{color:#ADFF2F !important;}
.frmColors_HoneyDew{color:#F0FFF0 !important;}
.frmColors_HotPink{color:#FF69B4 !important;}
.frmColors_IndianRed{color:#CD5C5C !important;}
.frmColors_Indigo{color:#4B0082 !important;}
.frmColors_Ivory{color:#FFFFF0 !important;}
.frmColors_Khaki{color:#F0E68C !important;}
.frmColors_Lavender{color:#E6E6FA !important;}
.frmColors_LavenderBlush{color:#FFF0F5 !important;}
.frmColors_LawnGreen{color:#7CFC00 !important;}
.frmColors_LemonChiffon{color:#FFFACD !important;}
.frmColors_LightBlue{color:#ADD8E6 !important;}
.frmColors_LightCoral{color:#F08080 !important;}
.frmColors_LightCyan{color:#E0FFFF !important;}
.frmColors_LightGoldenRodYellow{color:#FAFAD2 !important;}
.frmColors_LightGrey{color:#D3D3D3 !important;}
.frmColors_LightGreen{color:#90EE90 !important;}
.frmColors_LightPink{color:#FFB6C1 !important;}
.frmColors_LightSalmon{color:#FFA07A !important;}
.frmColors_LightSeaGreen{color:#20B2AA !important;}
.frmColors_LightSkyBlue{color:#87CEFA !important;}
.frmColors_LightSlateBlue{color:#8470FF !important;}
.frmColors_LightSlateGray{color:#778899 !important;}
.frmColors_LightSteelBlue{color:#B0C4DE !important;}
.frmColors_LightYellow{color:#FFFFE0 !important;}
.frmColors_Lime{color:#00FF00 !important;}
.frmColors_LimeGreen{color:#32CD32 !important;}
.frmColors_Linen{color:#FAF0E6 !important;}
.frmColors_Magenta{color:#FF00FF !important;}
.frmColors_Maroon{color:#800000 !important;}
.frmColors_MediumAquaMarine{color:#66CDAA !important;}
.frmColors_MediumBlue{color:#0000CD !important;}
.frmColors_MediumOrchid{color:#BA55D3 !important;}
.frmColors_MediumPurple{color:#9370D8 !important;}
.frmColors_MediumSeaGreen{color:#3CB371 !important;}
.frmColors_MediumSlateBlue{color:#7B68EE !important;}
.frmColors_MediumSpringGreen{color:#00FA9A !important;}
.frmColors_MediumTurquoise{color:#48D1CC !important;}
.frmColors_MediumVioletRed{color:#C71585 !important;}
.frmColors_MidnightBlue{color:#191970 !important;}
.frmColors_MintCream{color:#F5FFFA !important;}
.frmColors_MistyRose{color:#FFE4E1 !important;}
.frmColors_Moccasin{color:#FFE4B5 !important;}
.frmColors_NavajoWhite{color:#FFDEAD !important;}
.frmColors_Navy{color:#000080 !important;}
.frmColors_OldLace{color:#FDF5E6 !important;}
.frmColors_Olive{color:#808000 !important;}
.frmColors_OliveDrab{color:#6B8E23 !important;}
.frmColors_Orange{color:#FFA500 !important;}
.frmColors_OrangeRed{color:#FF4500 !important;}
.frmColors_Orchid{color:#DA70D6 !important;}
.frmColors_PaleGoldenRod{color:#EEE8AA !important;}
.frmColors_PaleGreen{color:#98FB98 !important;}
.frmColors_PaleTurquoise{color:#AFEEEE !important;}
.frmColors_PaleVioletRed{color:#D87093 !important;}
.frmColors_PapayaWhip{color:#FFEFD5 !important;}
.frmColors_PeachPuff{color:#FFDAB9 !important;}
.frmColors_Peru{color:#CD853F !important;}
.frmColors_Pink{color:#FFC0CB !important;}
.frmColors_Plum{color:#DDA0DD !important;}
.frmColors_PowderBlue{color:#B0E0E6 !important;}
.frmColors_Purple{color:#800080 !important;}
.frmColors_Red{color:#FF0000 !important;}
.frmColors_RosyBrown{color:#BC8F8F !important;}
.frmColors_RoyalBlue{color:#4169E1 !important;}
.frmColors_SaddleBrown{color:#8B4513 !important;}
.frmColors_Salmon{color:#FA8072 !important;}
.frmColors_SandyBrown{color:#F4A460 !important;}
.frmColors_SeaGreen{color:#2E8B57 !important;}
.frmColors_SeaShell{color:#FFF5EE !important;}
.frmColors_Sienna{color:#A0522D !important;}
.frmColors_Silver{color:#C0C0C0 !important;}
.frmColors_SkyBlue{color:#87CEEB !important;}
.frmColors_SlateBlue{color:#6A5ACD !important;}
.frmColors_SlateGray{color:#708090 !important;}
.frmColors_Snow{color:#FFFAFA !important;}
.frmColors_SpringGreen{color:#00FF7F !important;}
.frmColors_SteelBlue{color:#4682B4 !important;}
.frmColors_Tan{color:#D2B48C !important;}
.frmColors_Teal{color:#008080 !important;}
.frmColors_Thistle{color:#D8BFD8 !important;}
.frmColors_Tomato{color:#FF6347 !important;}
.frmColors_Turquoise{color:#40E0D0 !important;}
.frmColors_Violet{color:#EE82EE !important;}
.frmColors_VioletRed{color:#D02090 !important;}
.frmColors_Wheat{color:#F5DEB3 !important;}
.frmColors_White{color:#FFFFFF !important;}
.frmColors_WhiteSmoke{color:#F5F5F5 !important;}
.frmColors_Yellow{color:#FFFF00 !important;}
.frmColors_YellowGreen{color:#9ACD32 !important;}
